# Include this file into your ~/.bashrc
# -------------------------------------
export PYENV_ROOT="{{ __pyenv_base_path__ }}"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - {{ __pyenv_init_options__ }})"
